<h1>Welcome to Moloko3</h1>
<p>This is the platform where users can find lawyers, post job listings, and communicate with legal experts.</p>
<%= link_to 'Find Lawyers', users_path %>
<%= link_to 'Post a Job', new_job_path %>
